body {
  font-family: "Nunito", "Arial", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  background-color: #f5f7fa;
  color: #222;
}

header {
  background-color: #002b5c;
  color: white;
  text-align: center;
  padding: 20px 10px;
}

section {
  background: white;
  align-content: center;
  text-align: center;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

textarea {
  width: 60%;
  height: 120px;
}

.hidden {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  background-color: #004aad;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #003780;
}
